
<h1>Notre selection</h1>

<hr />
<h5><%=Parameter.getByTypeParam("accueilSelection")%></h5>
<h1 style="width: 150px"><% @testBook=Book.getByTitle("testTitle") %></h1>
<!-- <p><%= @testBook.Title %> </p> -->
<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item" align="center">
			<h4 align="left"> Livre de gestion</h4>
			<h><img src="<%=@testBook.Image%>" title="carroussssss" width="150"/> </h>
				<h> est mon premier carousel</h>
				
			<h><img src="/assets/rails.png" /> </h>
			<h><img src="/assets/rails.png" /> </h>
			
		</div>
		
		<div class="item" align="center"><h4 align="left"> Strategie d'entreprise</h4> 
			<h><img src="/assets/maxima1.jpg" width="200" />   </h>
			<h><img src="/assets/maxima4.jpg" width="200"/>    </h>
			<h><img src="/assets/maxima3.jpg" width="200"/>    </h>
			</div>
		<div class="item" align="center" ><h4 align="left"> Creation d'entreprise</h4><img src="/assets/blueprint.png" width="200" /></div>
	</div>
	
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev"  >&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
