
<h1>Notre solution</h1>
<p><%=Parameter.getByTypeParam("test")%></p>
<hr />
<a href="#" id="urlToClick" >Paint it red</a>

   <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="active item"><img src="/assets/rails.png" />
        <!--<div class="item"><img src="/assets/rails.png" />toto </div>
        <div class="item"><img src="/assets/rails.png />toto </div>
       
     -->
 </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>