
<h1>Notre solution</h1>
<p><%=Parameter.getByTypeParam("test")%></p>
<hr />
<a href="#" id="urlToClick" >Paint it red</a>

<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item" align="center">
			<h><img src="/assets/rails.png" title="carroussssss" width="150"/> </h>
				<h> est mon premier carousel</h>
			<h><img src="/assets/rails.png" /> </h>
			<h><img src="/assets/rails.png" /> </h>
			<div class="carousel-caption">
				<p> est mon premier carousel</p>
			</div>
			
		</div>
		<div class="item" align="center"><img src="/assets/portal.png" /></div>
		<div class="item" align="center"><img src="/assets/blueprint.png" /></div>
	</div>
	
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev" >&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	
	<%= link_to( "download",:controller=>'download',:action=>'downloadFile') %>
  
</div>

