<!DOCTYPE html>
<html>
<head>
  <title>Mypocketlibrary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="/assets/bandeau.css">
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
   
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        	<p></p>
        	
            <!--<p class="brand" style="garamon" width="150">MyPocketLibrary</p> <-->
             <a class="brand" href="accueil/index">MyPocketLibrary</a>
            <ul class="nav">
                <li class="active"><a href="/selection/index">Offre</a></li>
                <li class="active"><a href="/ideas">|Contact</a></li>
                <li class="active"><a href="/ideas">|Inscription</a></li>   
                <li class="active"><a href="/ideas">|Connexion</a></li>             
            </ul>
        </div>
    </div>
</div>
</head>
<body>
<div class="container">
    <%= yield %>
</div>

<footer>
    <div class="container">
        MyPocketLibrary 2012
    </div>
</footer>

</body>
</html>
